.signup-form{
  margin: auto;
  width: 50%;
  margin-top: 40px;
}

.padding-header{
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.margin-left{
  padding-left: 20px;
}

.logo{
  height: 30px;
  width: 130px;
}

.text-center{
  text-align: center;
}

.blue-bg{
  background: #227bf3;
  color: white;
}

.curriculum-li-tag{
  list-style: none;
}

.half-size{
  font-size: .7em;
}

.curriculum-border{
  border: solid 1px blue;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 12px black;
  background: white;
  color: black;

}

.hr-rules{
  border: 1px solid darkblue;
  width: 50%;
}

.dark-blue-text{
  color: darkblue;
  font-weight: bold;
}

.curriculum-p-tag{
  padding: 0px;
  margin: auto;
}

.privacy{
  font-weight: bold;
  padding-top: 40px;
  margin: auto;
  width: 80%;
}

.top-margin{
  margin-top: 40px;
  margin-bottom: 40px;
}


.btn.blue{
  font-size: 1.2em;
  font-weight: bold;
  margin: auto;
  width: 250px;
  height: 100px;
}
