.signup-form{
  margin: auto;
  width: 50%;
  margin-top: 40px;
}

.padding-header{
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.margin-left{
  padding-left: 20px;
}

.logo{
  height: 30px;
  width: 130px;
}

.text-center{
  text-align: center;
}

.top-margin{
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn.blue{
  font-size: 1.2em;
  font-weight: bold;
  margin: auto;
  width: 250px;
  height: 100px;
}
