.signup-form{
  margin: auto;
  width: 50%;
  margin-top: 40px;
}

.padding-header{
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.margin-left{
  padding-left: 20px;
}

.logo{
  height: 30px;
  width: 130px;
}
